        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Segoe UI', sans-serif;
            color: white;
        }

        .parallax {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bg-1 {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwUP8FeTCOUY4yd13k0fkQ7wtYZ-3sKveOqTsrtB7CeS6ul5pkAXiW_zg&s=10");
        }

        .bg-2 {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-xfInCbYhl4cG54bFgIgdix-RTkIOFaD6_lDpr5INjw&s=10");
        }

        .black-block {
            background-color: #111;
            color: #ddd;
            padding: 100px 50px;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.8;
        }